*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filap-card{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 40%;
    height: 384px;
    background-color: #fff;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0,0.1);
    position: relative;
    
    
}
.image_area::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	height: 36%;
	width: 100%;
	background: #4071ed;
	border-radius: 10px 10px 0px 0px;
}
/* .image_area{
    background: #4071ed;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
    
    
    
    
} */
.image_area img{
    width: 160px;
    border-radius: 50%;
    transform: translate(0px,25px);
    background-color: #4071ed;
    border: 1px solid #301e1e;

}
.head_par h1{
    font-size: 24px;
    opacity: .7;
}
.head_par p{
    font-size: 18px;
    opacity: .7;
}
.gole_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 33px;
	margin-top: -15px;
    
}
.gole_icon i {
	width: 32px;
	background-color: red;
	border-radius: 50%;
	height: 33px;
	align-items: center;
	display: flex;
	justify-content: center;
    color: #fff;
}
.gole_icon i:first-child{
    background: #3f62a7;
}
.gole_icon > :nth-child(2){
    background: #18a1f0;
}
.gole_icon > :nth-child(3){
    background: #e42d6f;
}


.me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    

}
.me button {
	width: 112px;
	border: 0;
	background: #3d6de1;
	border-radius: 5px;
	height: 26px;
}
.anilytics_data{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.anilytics_data i{
    width: 70px;
    border-right: 2px solid rgba(0, 0, 0,.5);
    opacity: .6;
}
.anilytics_data span{
    margin-left: 4px;
}
